/* Multiple Selector Rule */
h1,
p{
	font-family: Arial;
}

h1{
	color: red;
}

p{
	font-size: 18px;
	color: blue;
}

/* Descendant Selector */
footer p{
	font-size: 10px;
	font-family: Verdana;
	background-color: lightblue;
}


/*
Classes in CSS are preceded by a period
eg) if you want to target the odd class, you precede with a period
	-> .odd
*/

.odd{
	background-color: yellow;
}
