body {
	background-color: white;
}

.container {
	margin: 0 auto;
	width: 960px;
	font-size: 100%;
	line-height: 1.5;
}

h1,
h2,
h3,
p{
	font-family: Helvetica;
	font-size: 20px;
	padding: 10px;
	text-align: center;
}

nav,
header,
main{
	background-color: #f4f4f4;
}

nav,
header,
main,
footer,
main section,
main aside{
	margin-top: 24px;
}

footer,
main section,
main aside{
	height: 300px;
}

main section,
main aside{
	border-left: 24px solid #c3c3c3;
	background-color: #dedede;
	width: 888px;
}

nav{
	height: 48px;
}

header{
	height: 450px;
}

main{
	padding: 24px;
}

footer{
	background-color: #c3c3c3;
	margin-bottom: 50px;
}
