body {
	font-size: 100%;
	line-height: 1.5;
	background-color: #f2f2f2;
	padding: 26px 0;
	font-family: Verdana, Geneva, sans-serif;
	color: #6a6a6a;
}

.container {
	width: 960px;
	margin: 0 auto;
}

section{
	background-color: #ffffff;
	border: 2px solid #9b9b9b;
	margin-bottom: 26px;
}

h1,
h2,
h3,
li{
	text-align: center;
	padding: 12px 0;
	color: #606060;
}

h1,
h2{
	font-size: 24px;
}

h3,
li{
	font-size: 20px;
}

h3{
	text-align: left;
}

li,
section header,
.section-one-columns div,
.section-two-columns div{
	background-color: #d6d6d6;
	border: 2px solid #9b9b9b;
	margin-bottom: 26px;
}

.section-one-columns,
.section-two-columns{
	display: flex;
	flex-wrap: wrap;
}

.section-one-columns div,
.section-two-columns div{
	padding: 12px;
	margin-left: 26px;
}

nav ul{
	display: flex;
}

nav li{
	width: 227px;
}

section header{
	margin: 26px;
}

.section-one-columns div{
	width: 256px;
}

.section-two-columns div{
	width: 411px;
}

.not-first{
	margin-left: 12px;
}
